<html>
<head>
  <title>ReminderBot App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>ReminderBot</h1>
    Welcome to ReminderBot- we have the best reminders don't we folks?<br>
    <a href="/login" class="btn btn-primary">Login</a></br>
    <a href="/signup" class="btn btn-default">Register</a></br>
  </div>
</div>

</body>
</html>