<html>
<head>
  <title>ReminderBot App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h2>Create a new event!</h2>
<form action="/createEvent" method="post">
  <p>Title<br>
  <input type="text" name="title"></p>
  <p>Description<br>
  <input type="text" name="description"></p>
  <p>Location<br>
  <input type="text" name="location"></p>

  <div>
    <h3> Start Date </h3>
    <p>Month
    <input type="text" name="startMonth">
    Day
    <input type="text" name="startDay">
    Year
    <input type="text" name="startYear">
    Hour
    <input type="text" name="startHour">
    Minute
    <input type="text" name="startMinute">
  <div>

  <div>
    <h3> End Date </h3>
    <p>Month
    <input type="text" name="endMonth">
    Day
    <input type="text" name="endDay">
    Year
    <input type="text" name="endYear">
    Hour
    <input type="text" name="endHour">
    Minute
    <input type="text" name="endMinute">
    </p>
  <div>
  <p><button type="submit" class="btn btn-primary">Create Event!</button></p>
</form>
</body>
</html>

