Create a new event!
<form action="/createEvent" method="post">
  <p>Title<br>
  <input type="text" name="title"></p>
  <p>Description<br>
  <input type="text" name="description"></p>
  <p>Location<br>
  <input type="text" name="location"></p>

  <div>
    <h2> Start Date </h2>
    <p>Month<br>
    <input type="text" name="startMonth"></p>
    <p>Day<br>
    <input type="text" name="startDay"></p>
    <p>Year<br>
    <input type="text" name="startYear"></p>
    <p>Hour<br>
    <input type="text" name="startHour"></p>
    <p>Minute<br>
    <input type="text" name="startMinute"></p>
  <div>

  <div>
    <h2> End Date </h2>
    <p>Month<br>
    <input type="text" name="endMonth"></p>
    <p>Day<br>
    <input type="text" name="endDay"></p>
    <p>Year<br>
    <input type="text" name="endYear"></p>
    <p>Hour<br>
    <input type="text" name="endHour"></p>
    <p>Minute<br>
    <input type="text" name="endMinute"></p>
  <div>
  <p><button type="submit">Create Event!</button></p>
</form>